
<!--
<!DOCTYPE html>

 * Copyright (c) 2009 The Chromium Authors. All rights reserved.  Use of this
 * source code is governed by a BSD-style license that can be found in the
 * LICENSE file.
-->
<!doctype html>
<html ng-app="agelabContactsApp">
<head>
    <meta charset="utf-8">
    <title>My Google Contacts</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/animations.css">

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/angular.js"></script>
    <script src="../js/vendor/angular-animate.js"></script>
    <script src="../js/vendor/angular-resource.js"></script>
    <script src="../js/vendor/bindonce.js"></script>
    <script src="../js/vendor/chrome_ex_oauthsimple.js"></script>
    <script src="../js/vendor/chrome_ex_oauth.js"></script>
    <script src="../js/vendor/json_sans_eval.js"></script>
    <script src="../js/vendor/spin.js"></script>
    <script src="../js/vendor/moment-with-langs.js"></script>

    <script src="../js/angularapp.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/directives.js"></script>
    
</head>

<body ng-controller="ContactsCtrl">
 
    <div class="container" >

        <form class = "container">

          <!-- Angular computations to allow reusage and queries on filtered result set -->
          <div ng-hide="truthy" class = "ng-hide">
            {{ (filteredContacts = (contacts | startFrom: currentPage * pageSize  | limitTo:pageSize | filter:searchText | genderFilter:contentfilters[0].value:contentfilters[1].value | emptyFilter:emptyfilters | afterDate:start | beforeDate:end | orderObjBy:orderProp))}}
          </div>

          <!-- Global controls -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
              <button id="clear" data-ng-click="signout()" class="btn" style="float: right;">Sign out of this extension</button>
          </div><br><br>

          <div class="col-md-1" style="width:100%;float:none;position:relative;">
              <button id="clear" data-ng-click="toggleExport()" class="btn" style="float: right;">View selected emails</button>
          </div><br><br>

          <!-- Filter results here, so filtered output is available for further queries 
          (angular does not update if filtered below) -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
            Contacts loaded: {{loaded}}, displaying {{filteredContacts.length}}
          </div><br>

          <!-- Filter contacts using checkboxes -->
          <div class="col-md-1">
            
            <div class="dropdown" style="width:100%;float:none;position:relative;">
                <button class="btn" data-toggle="dropdown" href="#">
                    Filter contacts with data in <b class="caret"></b>
                </button>
                <ul class="dropdown-menu dropdown-menu-form" role="menu">
                    <li ng-repeat="item in emptyfilters">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="item.value">{{item.title}}
                        </label>
                    </li>
                    <li ng-repeat="item in contentfilters">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="item.value">{{item.title}}
                        </label>
                    </li>

                </ul>
            </div>
          </div><br>

          <!-- Search field -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search text" autofocus>
          </div><br>

          <!-- Sort field -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
              <select ng-model="orderProp" ng-options="v.value as v.title for (k,v) in sortOptions" class="form-control" autofocus>
                <option value="" disabled selected>Sort by</option>
              </select>
          </div><br>

          <!-- Range filter -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
              Birthday between: <br>
              <input type="date" ng-model="start" class="form-control" autofocus>
              <input type="date" ng-model="end" class="form-control" autofocus>
          </div><br>

          <!-- Pagination -->
          <div class="col-md-1" style="width:100%;float:none;position:relative;">
            <button ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
              {{ $index*pageSize+1 }} - {{ $index*pageSize + pageSize }}
            </button>
          </div><br>

        </form>




        <br>

        <div loading-spinner="viewLoading">

            <div ng-hide="hideExports" class ="ng-hide">
            <div class="panel panel-default">
                  <div class="panel-heading">
                  <h3 class="panel-title">Exported contacts</h3>
                  </div>
                <div class="panel-body">
                
                    <div type="text" ng-repeat="contact in filteredContacts">{{contact.emailsSimple}}; </div>
                
                </div>
            </div>
            </div><br>


            <dl class="contacts">
              <!--<dt ng-repeat="contact in filteredContacts">-->
              <dt bindonce ng-repeat="contact in filteredContacts">
                <div class="panel panel-default">
                  <div class="panel-heading">
                   <h3 class="panel-title"> <span bo-text="$index+1"></span>. <span bo-text="contact.fullName"></span></h3>
                   <!--<h3 class="panel-title">{{$index+1}}. {{contact.fullName}}</h3>-->
                  </div>
                  <div class="panel-body">
                    <span style="font-weight:normal;">
                    <!--Email: {{contact.emails}}<br>
                    Phone number: {{contact.phoneNumber}}<br>
                    Address: {{contact.address}}<br>
                    Birthday: {{contact.birthday}}<br>
                    Gender: {{contact.gender}}<br>
                    Contact: {{contact.contact}}<br>
                    Added: {{contact.added}}<br>
                    Drives/Week: {{contact.drives}}<br>
                    Hear about us: {{contact.hearabout}}<br>
                    Highrise tags: {{contact.highrise}}<br>
                    {{contact.notes}}<br>-->
                    <b>Email</b>: <span bo-text="contact.emails"></span><br>
                    <b>Phone number</b>: <span bo-text="contact.phonenumber"></span><br>
                    <b>Address</b>: <span bo-text="contact.address"></span><br>
                    <b>Birthday</b>: <span bo-text="contact.birthday"></span><br>
                    <b>Gender</b>: <span bo-text="contact.gender"></span><br>
                    <b>Contact</b>: <span bo-text="contact.contact"></span><br>
                    <b>Added</b>: <span bo-text="contact.added"></span><br>
                    <b>Drives/Week</b>: <span bo-text="contact.drives"></span><br>
                    <b>Hear about us</b>: <span bo-text="contact.hearabout"></span><br>
                    <b>Highrise tags</b>: <span bo-text="contact.highrise"></span><br>
                    <b>Notes</b>: <span bo-text="contact.notes"></span><br>
                    </span>
                  </div>
                </div>

              </dt>
           </dl>
       </div>
    </div>

</body>
</html>